/*FONTS*/
/*font-family: 'Overpass', sans-serif;  300 /600 */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap");

/* font-family: 'Ubuntu', sans-serif;  400 500 700  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*COLOR PALETE*/
:root {
  --red: hsl(356, 100%, 66%); /* btn text */
  --light: hsl(355, 100%, 74%); /*btn bg :hover*/
  --blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(240, 2%, 79%);
  --dark-gray: hsl(207, 13%, 34%);
  --dark-blue: hsl(240, 10%, 16%);
}

/*GENERAL STYLING*/
body {
  max-width: 1440px;
  margin: auto;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.pill-button {
  font-family: "Ubento", sans-serif;
  font-weight: 700;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: none;
  color: white;
}
.text-white {
  color: var(--white);
}

.text-red {
  color: var(--red);
}
.text-light {
  color: var(--light);
}
.bg-white {
  background: var(--white);
}

.bg-light {
  background: var(--light);
}

.hover-bg-light:hover {
  background: var(--light);
  color: var(--white);
  transition: 0.2s linear;
}

.hover-bg-white:hover {
  color: var(--light);
  background: var(--white);
  transition: 0.2s linear;
}

.border-white {
  border: 1px solid var(--white);
}

.section-title {
  text-align: center;
  color: var(--blue);
  font-family: "Ubento", sans-serif;
  font-size: 2em;
  /* margin: 50px 20px 0px; */
}

.paragraphe-title {
  color: var(--blue);
  font-family: "Ubento", sans-serif;
  font-size: 1.5em;
  margin-bottom: 15px;
}

body {
  max-width: 1440px;
  margin: auto;
  position: relative;
  font-size: 15px;
}

/*STYLING*/

header {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  overflow: hidden;
  background: url("../images/bg-pattern-intro-3.png"),
    linear-gradient(120deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
  background-size: cover;
  height: 550px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

nav {
  padding: 3rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 50%;
}

.nav-item {
  cursor: pointer;
  color: var(--white);
  position: relative;
  padding: 1rem;
}

.nav-item:hover {
  text-decoration: underline;
}
.nav-item:hover > .drop-menu {
  display: flex;
  flex-direction: column;
}
.nav-item > img {
  margin-left: 5px;
}
.nav-item:hover > img {
  transform: rotate(180deg);
  transition: 0.2s all ease-in-out;
}

.drop-menu {
  font-size: 14px;
  display: none;
  background-color: var(--white);
  position: absolute;
  top: 40px;
  left: -10px;
  width: 160px;
  padding: 1.2rem 1.1rem;
  color: black;
  line-height: 2em;
  border-radius: 5px;
  box-shadow: 3px 2px 12px 3px rgb(0 0 0 / 28%);
}
.drop-menu > li:hover {
  font-weight: 700;
}

/*RESPONSIVE NAV MENU*/

#burger-btn,
#burger-btn-close {
  display: none;
}

#burger-action {
  display: none;
}

.responsive-menu {
  display: none;
  position: absolute;
  background-color: white;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 70%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  padding: 1rem 2rem;
  box-shadow: 3px 2px 12px 3px rgb(0 0 0 / 28%);
}

.responsive-nav-action {
  display: flex;
  flex-direction: column;
  border-top: 1px solid hsla(240, 3%, 79%, 0.358);
}

.responsive-menu * {
  color: var(--blue);
  font-weight: 600;
}
.responsive-menu > .nav-item:hover {
  text-decoration: none;
  opacity: 0.9;
}

.responsive-menu > .nav-item:hover > .drop-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: -15px auto 20px;
  background-color: hsla(240, 3%, 79%, 0.358);
  width: 100%;
  box-shadow: none;
  line-height: 3em;
  left: 0;
}

.responsive-nav-action {
  text-align: center;
  padding: 0.6rem 1rem;
  margin-top: 20px;
}

.responsive-nav-action > button {
  margin: 10px auto;
  font-size: 15px;
}

.responsive-nav-action > button:nth-child(2) {
  background: linear-gradient(
    120deg,
    hsl(13, 100%, 72%) 0%,
    hsl(353, 100%, 62%) 100%
  );
  color: var(--white);
}

/*INTRO*/

.introduction {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction > * {
  margin: 20px;
}

.introduction > h1 {
  font-size: 3em;
  font-family: "Ubento", sans-serif;
  font-weight: 600;
  text-align: center;
}

/*SECTION 1*/

.desc-section {
  padding: 5rem 1rem;
  font-family: "Ubento", sans-serif;
}

.desc-section > .section-title {
  position: relative;
  top: 25px;
  top: 63px;
  position: relative;
}

.description-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  font-size: 18px;
}

.illustration {
  position: relative;
  top: 1px;
  right: -151px;
  height: 53%;
  width: 56%;
}

.desc-card {
  padding: 2rem;
  line-height: 2em;
}

.desc-card > h2 {
  margin-bottom: 20px;
}

.desc-card p {
  color: var(--dark-gray);
}

@media (max-width: 1024px) {
  /*NAV BAR */
  nav {
    padding: 3rem;
  }

  header {
    position: relative;
    width: 100vw;
  }

  #burger-btn {
    display: inline-block;
  }
  .nav-menu,
  .nav-actions {
    display: none;
  }

  .responsive-menu {
    display: none;
  }

  /*DISPLAY CLOSE BTN*/
  #burger-action:checked + label > #burger-btn-close {
    display: inline-block;
  }

  /*HIDE BURGER BTN*/
  #burger-action:checked + label > #burger-btn {
    display: none;
  }

  /*DISPLAY RESPONSIVE MENU*/
  #burger-action:checked ~ .responsive-menu {
    display: block;
  }

  /*INTRO*/
}
